@model IEnumerable<Order>

@{
    ViewBag.Title = "Orders";
    Layout = "_AdminLayout";
}

@if (Model.Any())
{
    <table class="table table-bordered table-striped">
        <tr><th>Name</th><th colspan="3">Details</th><th>Status</th><th></th><th></th></tr>
        @foreach (var order in Model)
        {
            @if (order.Status == OrderStatus.InProcess || order.Status == OrderStatus.ReturnRequest)
            {
                <tr>
                    <td>@order.Name</td>
                    <td>Product</td>
                    <th>Quantity</th>
                    <th>Quantity on Stock</th>
                    <th>@order.Status</th>
                    <td>
                        <form asp-action="MarkAdopted" method="post">
                            <input type="hidden" name="orderId" value="@order.OrderId" />
                            <button type="submit" class="btn btn-sm btn-info">Adopt</button>
                        </form>
                    </td>
                    <td>
                        <form asp-action="MarkRejected" method="post">
                            <input type="hidden" name="orderId" value="@order.OrderId" />
                            <button type="submit" class="btn btn-sm btn-danger">Reject</button>
                        </form>
                    </td>
                </tr>
                @foreach (var line in order.Lines)
                {
                    <tr>
                        <td></td>
                        <td>@line.Book.Name</td>
                        <td>@line.Quantity</td>
                        <td>@line.Book.Count</td>
                    </tr>
                }
            }

        }
    </table>
}
else
{
    <div class="text-center">No Unshipped Orders</div>
}