@model Book

<td>
    @Model.Name
</td>
<td>
    @Model.Author
</td>
<td>
    @Model.Publisher
</td>
<td>
    @Model.Year
</td>
<td>
    <span class="badge badge-pill badge-primary">
        <small>@Model.Price.ToString("C")</small>
    </span>
</td>
<td>
    <form id="@Model.BookId" asp-action="AddToCart"
          asp-controller="Cart" method="post">
        <input type="hidden" asp-for="BookId" />
        <input type="hidden" name="returnUrl"
               value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <span class="card-text p-1">
            <button type="submit"
                    class="btn btn-success btn-sm">
                Add To Cart
            </button>
        </span>
    </form>
</td>